@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("images/bg_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h3 {
  color: #f1aaa3;
  margin: 0;
}

h1 {
  margin-top: 25px;
  font-size: 3rem;
}

.countdown_container {
  display: flex;
  color: white;
}

.big_text {
  font-weight: bold;
  font-size: 6rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.countdown_measure {
  text-align: center;
  width: 200px;
}

.countdown_measure span {
  font-size: 1.5rem;
}
